//-Servern ska kunna ta emot data från resultatrapportering.
//-Det ska därför finnas en sida (resultatrapportering) som rapportören 
//-i vallokalen använder. Den sidan bör ha ett formulär där man kan registrera 
//-följande: 
//- /*vilken vallokal som rapporterar
//- parti och antalet röster för detsamma.*/

//-Default. Specifies that autocomplete is on (enabled)
//-In HTML5, the action attribute is no longer required.
//-<form action="URL">
extends index
block index
  if local 
    p you voted local: #{local} and party: #{party}
  else
    form(action='' method="post")
      div.localGroup
        select(name='local')
         option(value="" disabled selected) local
         option(value= valueFirst) #{valueFirst}
         option(value= valueSecond) #{valueSecond}
         option(value= valueThird) #{valueThird}
         option(value= valueFour) #{valueFour}
      div(class='partyGroup')
        select(name='party')
          option(value="" disabled selected) party
          option #{party.partyFirst}
          option #{party.partySecond}
          option #{party.partyThird}
          option #{party.partyFive}
          option #{party.partySix}
          option #{party.partySeven}
          option #{party.partyEight}
          option #{party.partyNine}
          option #{party.partyTen}
       
      div.vote 
         input(type="submit" class="btn btn-info" value='vote')    
    
 
    

//-socket.on: Used to monitor a launched event by emit,The first parameter is the name of the event to be monitored, the second argument 
//-is an anonymous function used to receive the data sent by the others,The first argument is the received data
